<form #userForm="ngForm" (ngSubmit)="SubmitHandler()" class="max-w-md mx-auto mt-8">
      <h1>Sing Up Page</h1>

  <div class="mb-4">
    <label for="userName" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
    <input
      [(ngModel)]="userData.userName"
      name="userName"
      id="userName"
      type="text"
      class="w-full p-2 border rounded-md focus:outline-none focus:border-blue-500"
    />
  </div>

  <div class="mb-4">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
    <input
      [(ngModel)]="userData.password"
      name="password"
      id="password"
      type="password"
      class="w-full p-2 border rounded-md focus:outline-none focus:border-blue-500"
    />
  </div>

  <div class="mb-6">
    <label for="confirmation_pass" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password:</label>
    <input
      [(ngModel)]="userData.confirmation_pass"
      name="confirmation_pass"
      id="confirmation_pass"
      type="password"
      class="w-full p-2 border rounded-md focus:outline-none focus:border-blue-500"
    />
  </div>

  <button type="submit" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
    Submit
  </button>
</form>